<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    
    <body>
        <a href="http://127.0.0.1:5000/login"><button>Go Back</button></a>
        <h1>{{ 'Triage Explanation' }}</h1>
        <ul>
            <li>
                <b>Level I:</b> Blue, severely ill and requires resuscitation.
            </li>
            <li>
                <b>Level II:</b> Red, requires emergent care and rapid medical intervention.
            </li>
            <li>
                <b>Level III:</b> Yellow, requires urgent care.
            </li>
            <li>
                <b>Level IV:</b> Green, requires less-urgent care.
            </li>
            <li>
                <b>Level V:</b> White, requires non-urgent care.
            </li>
        </ul>
    </body>
</html>