<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <!-- <img src='logo.png' alt="logo" /> -->
    <body>
        <a href="{{ url_for('login') }}"><button>Go Back</button></a>
        <h1>{{ 'TriageMate' }}</h1>
        <p>
            Every day, millions of people visit emergency departments worldwide. While information technology has advanced medical 
            decision-making, there are currently very few measures to address the anxiety, confusion, or boredom of waiting for treatment. 
            For most people, the ER wait can take anywhere from minutes to hours. The wait time depends on the Triage level of the patient, 
            of which is determined through their initial assessment. Many that requires ER attention leaves due to the long wait time, 
            which in turn delays their access to adequate treatment.
        </p>
        <p>
            At TriageMate, we aim to bring back transparency in the ER waiting room. Through our website, you will access your personalized
            account page, where we provide you with your assessed triage stage, your phase in the ER room, and the distribution of the triage
            stages of patients that place before you. We also offer a complementary gaming room, where you can play mini-games against other
            patients in the waiting room.
        </p>
        <p>
            At Triage Mate, we want the best for the comfort of your mind when waiting at the ER.
        </p>
    </body>
</html>